@import "./avatar.scss";

.post {
  background-color: white;
  border-radius: 24px;
  padding: 12px;
  .user {
    display: flex;
    align-items: center;
    .avatar {
      margin-right: 8px;
    }
    .username {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .title {
    margin: 12px 0;
  }
  .body {
    font-size: 14px;
  }
  .comments-button {
    margin-top: 8px;
    font-size: 12px;
    color: #8ab4f8;
    text-align: right;
  }
  .comments {
    .comment {
      margin-bottom: 12px;
    }
  }
}
